<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433866204948-eech8qv5rpdtufu2c5nb6c030nkkm2s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433866204948-eech8qv5rpdtufu2c5nb6c030nkkm2s7</string>
	<key>API_KEY</key>
	<string>AIzaSyCncvjamPmFo82TQIBpwmAISCC6Z9r4QsM</string>
	<key>GCM_SENDER_ID</key>
	<string>433866204948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cotemig.LoginCotemig</string>
	<key>PROJECT_ID</key>
	<string>cotemig-login</string>
	<key>STORAGE_BUCKET</key>
	<string>cotemig-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433866204948:ios:1b3b3227b75c5e1879c401</string>
</dict>
</plist>